{% extends "base.html" %}
{% block content %}
		<nav>
			<div class="row">
			<ul class="nav nav-tabs pull-right">
				<li>
					<a href="{{ url_for('index') }}">Search</a>
				</li>
				<li><a href="{{ url_for('api_doc') }}">API</a></li>
				<li class="active"><a href="#">About</a></li>
			</ul>
			</div>
		</nav>
		<br/>

		<div class="row">
			<h3>What is MetaTorrent?</h3>
			MetaTorrent is personal project made to learn some technlogies like flask or requets. Is a simple micro-project create to try some things.

			<h3>Is a serious project?</h3>
			No. Only is a experimental project, its operation is very poor, but are invited to collaborate. Feel free to use or improve the code.

			<h3>How it works?</h3>
			MetaTorrent is just a meta search engine, this means it use other search engine and not log or store anything.
			
			To realize a search only write in the search box the keywords and press the search button. If you can take the necessary time the results will appear below with a link to the original search engine, the magnet link and other information.

			<h3>Is possible sort the results?</h3>
			No. This feature is not yet implemented.

			<br/><br/>
			<h2>Remember. It's a experimental project without support</h2>
			For more information you can contact <a href="mailto:moisesgallego+metatorrent@gmail.com">here</a>
			<br/><br/>
			<br/><br/>
			

		</div>
{% endblock content %}
