{% extends "base.html" %}
{% block content %}
		<nav>
			<div class="row">
			<ul class="nav nav-tabs pull-right">
				<li>
					<a href="{{ url_for('index') }}">Search</a>
				</li>
				<li class="active"><a href="#">API</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
			</ul>
			</div>
		</nav>
		<br/>

		<div class="row">
			<h2>Incomplete Documentation</h2>
		</div>
		<div class="row">
			<h3 class="span2">GET</h3>
		</div>
		<code>
			http://metatorrent.herokuapp.com/api/torrents/{searchString}
		</code>
		<br/>		<br/>		<br/>
		<div class="row">
			<h4>Example:</h4>
			<code class="span5">
				http://metatorrent.herokuapp.com/api/torrents/ubuntu
			</code>
		</div>
		<div class="row">
			<br/>
			<pre class="span12">
				{
				magnet_link: "magnet:?xt=urn:btih:335990D615594B9BE409CCFEB95864E24EC702C7&dn=ubuntu+12+10+desktop+i386&tr=udp%3A%2F%2Ffr33domtracker.h33t.com%3A3310%2Fannounce",
				seed: 5366,
				torrent_title: "Ubuntu 12.10 Desktop i386",
				leech: 69
				},
				{
				magnet_link: "magnet:?xt=urn:btih:F36C92A8F78A1AFF70A61A5F5BFE5E6757176133&dn=ubuntu+12+10+desktop+amd64&tr=udp%3A%2F%2Ffr33domtracker.h33t.com%3A3310%2Fannounce",
				seed: 1418,
				torrent_title: "Ubuntu 12.10 Desktop AMD64",
				leech: 18
				},
			</pre>
		</div>
{% endblock content %}
