<html>
    <head>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

		<script type="text/javascript">
			function search() {
			$.ajax({
			type: "GET",
			url: "/api/search/"+ $("#search-string").val()
			}).done(function( torrents ) {

			results = createResultTable(torrents);
			//console.log(results)
			cleanResults();
			
			$('#search-results').append(
			     results
			);
			//console.log(torrents);
			});
			}

			function createResultTable(torrents) {
			    results = "<table><thead><th>Title</th><th>Magnet</th><th>Seed</th><th>Leech</th></thead>";
				for (i in torrents) {
				    results = results + '<tr><td class="torrent-name">' + torrents[i].torrent_title + '</td></tr>';
				    results = results + '<tr><td class="magnet-link"><a href="' + torrents[i].magnet_link + '">Link</a></td></tr>';
				    results = results + '<tr><td class="seed">' + torrents[i].seed + '</td></tr>';
				    results = results + '<tr><td class="leech">' + torrents[i].leech + '</td></tr>';
				};
			    results = results + "</table>";
			    return results;
			};
			
			function cleanResults()
			{
			    $('#search-results').html(
				''
				);
			}

		</script>
    </head>
    <body>
		<div class="row">
			<h1 class="span4">MetaTorrent</h1>
		</div>
		<div class="row">
			<form class="form-search inline" action="javascript:search()">
				<div class="span5 offset4">
					<input type="text" id="search-string" name="search-string" class="input-block-level"/>
				</div>
					<button type="submit" class="btn">Search</button>
			</form>
		</div>
		<div id="search-results" class="row">
		</div>
    </body>
</html>
