<!DOCTYPE html>
<html lang="en">
    <head>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-40565434-1', 'herokuapp.com');
			ga('send', 'pageview');
			
		</script>
		<script type="text/javascript">
			function search() {
			$.ajax({
			type: "GET",
			url: "/api/torrents/"+ $("#search-string").val()
			}).done(function( torrents ) {

			    results = createResultTable(torrents);
			    cleanResults();
			
			    $('#search-results').append(
			        results
			    );
			});
			}

			function createResultTable(torrents) {
			  
			    if (torrents.length === 0) {
			       return '<h2>Nothing found</h2>';
			    };

			    results = '<table class="table table-striped span12 table-hover"><thead><th>Title</th><th>Magnet</th><th>Size</th><th>Seed</th><th>Leech</th></thead>';
			
				for (i in torrents) {
			        results = results + '<tr>';			  
				    results = results + '<td class="torrent-name"><a href="' + torrents[i].link +'" target="_blank">'
							+ torrents[i].name + '</a>  (' + torrents[i].site + ')</td>';
				    results = results + '<td class="magnet-link"><a href="' + torrents[i].magnet + '"><i class="icon-magnet"></a></td>';
				    results = results + '<td class="size">' + torrents[i].size + '</td>';
				    results = results + '<td class="seed">' + torrents[i].seed + '</td>';
				    results = results + '<td class="leech">' + torrents[i].leech + '</td>';
				    results = results + '</tr>';			  
				};
			    results = results + "</table>";
			    return results;
			};
			
			function cleanResults()
			{
			    $('#search-results').html(
				''
				);
			}

		</script>
    </head>
    <body class="container">
		<a href="https://github.com/mgallego/metatorrente"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
		<div class="row">
			<a href="{{ url_for('index') }}"><h1 >MetaTorrent</h1></a>
			<div class="row">
				<h4 class="span6">A clean, simple and easy torrent meta search engine</h4>
			</div>
		</div>
		<br/><br/>

		<nav>
			<div class="row">
			<ul class="nav nav-tabs pull-right">
				<li class="active">
					<a href="#">Search</a>
				</li>
				<li><a href="{{ url_for('api_doc') }}">API</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
			</ul>
			</div>
		</nav>
		<br/>

		<div class="row">
			<form class="form-search inline" action="javascript:search()">
				<div class="span5 offset3">
					<input type="text" id="search-string" name="search-string" class="input-block-level" placeholder="Search Query"/>
				</div>
					<button type="submit" class="btn">Search</button>
			</form>
		</div>
		<div id="search-results">
		</div>
    </body>
</html>
